---
import { Icon } from 'astro-icon'
---

<footer>
    <main class="container">
        edcilo 2020 | Diseñado con <Icon class="icon" name="mdi:heart" />
    </main>
</footer>

<style lang="scss">
    footer {
        width: 100vw;
        background: var(--brand-quinary);
        color: var(--brand-quaternary);

        .icon {
            width: 1rem;
        }
    }
</style>